# MongoDB Configuration
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=password
MONGO_PORT=27017
MONGO_DB_NAME=todo_app

# Mongo Express Configuration
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=password
MONGO_EXPRESS_PORT=8081

# Backend Configuration
BACKEND_PORT=5000

# Frontend Configuration
FRONTEND_PORT=5173